uses_condo.csv
nnsplits
rf19
rf20
rfrv
202010_VRDB_Extract.txt
vrdb.txt
turnout_delta.geojson
homes
home_votes
turnout_delta.geojsonl.json
res_bldg.csv
rfodddtorv
2017-2018_VotingHistoryExtract.txt
2019-2020_VotingHistoryExtract.txt
homes.csv
address_point.csv
pm.csv
ballots20b.csv
ballots20a.csv
p_to.csv
condo_unit.csv
voters
c.zip
uses.csv
uses_all.csv
uses_resapt.csv
pins.csv
y_rf19.csv
y_rf20.csv
y_rfrv.csv
y_rfrv.cv
d2.png
d4.png
apt_complex.csv
split_indeces
parcel_voters.csv
mayor17.csv
mayor13.csv
KC_Assessor_Change_History.ipynb
usevaluecounts
byuse.csv
d4.csv
c/
carto/
cc/
nnreg19/
nnreg20/
nnregrv/